* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit',
    sans-serif;
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    gap: 40px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    max-width: 320px;
    text-align: center;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.text-container {
    padding: 0 16px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.attribution {
    font-size: 11px;
    text-align: center;
    
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
